VITE_AWS_REGION=us-east-1
VITE_COGNITO_USER_POOL_ID=us-east-1_Xsd0Sv7Lt
VITE_COGNITO_USER_POOL_CLIENT_ID=v3s4vginlmaouedge4ik5i27u
VITE_API_ENDPOINT=https://64qbb53z0e.execute-api.us-east-1.amazonaws.com
